/* Style for table */
.tableHeader {
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
    color:darkgreen;
}

.oddTableRow {
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFF;
    border-top:1px solid #BBBBBB;

}

.evenTableRow {
    text-align:center;
    background-color:#F9F9F9;
    border-top:1px solid #BBBBBB;
    background-color: #E5E5E5;

}

.table {
    border-collapse:collapse;
}
